#NAME,
#URL,
#MAIL {
  display: inline-block;
  width: 100%;
  height: auto;
  margin: 10px auto;
  padding: 14px;
  background: #fff;
  color: #222;
  border: 1px solid var(--contentL);
  border-radius:5px;
}
  
.drK #NAME,
.drK #MAIL,
.drK #URL {
  background: var(--darkB);
  border:1px solid var(--darkBl);
}
